In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/03 16:07:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [3]:
df_green.registerTempTable('green')

/home/andre/anaconda3/lib/python3.9/site-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [4]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) as number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [5]:
df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-28 19:00:00| 134|193.61000000000007|            17|
|2020-01-22 19:00:00|  65| 657.0300000000001|            41|
|2020-01-27 08:00:00|  17|             85.56|             4|
|2020-01-02 09:00:00|  66|229.39999999999998|            12|
|2020-01-02 12:00:00|  89|310.28000000000003|            14|
|2020-01-07 12:00:00|  66|             179.5|             9|
|2020-01-03 08:00:00| 223|165.90000000000003|             9|
|2020-01-17 10:00:00|  41| 638.2699999999999|            49|
|2020-01-02 11:00:00|  26|             198.6|             7|
|2020-01-12 20:00:00| 247|36.900000000000006|             3|
|2020-01-12 15:00:00|  10|             75.92|             1|
|2020-01-24 04:00:00| 129|148.89000000000001|            13|
|2020-01-04 20:00:00|  25| 369.5700000000001|            23|
|2020-01-22 10:00:00|  74|1179.0599999999988|            83|
|2020-01-13 18:00:00|  92|207.02000000000004|            11|
|2020-01-19 11:00:00| 218|            181.16|             5|
|2020-01-26 12:00:00|  35|257.03000000000003|             8|
|2020-01-30 06:00:00|  75|            282.63|            19|
|2020-01-04 22:00:00|  83|            298.16|            15|
|2020-01-06 21:00:00| 129|288.02000000000004|            14|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [6]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

In [7]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')
df_yellow.registerTempTable('yellow')

In [8]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) as number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [9]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

In [10]:
df_green_revenue = spark.read.parquet('data/report/revenue/green/')
df_yellow_revenue = spark.read.parquet('data/report/revenue/yellow/')

In [11]:
df_green_revenue_temp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_temp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [12]:
df_join = df_green_revenue_temp.join(df_yellow_revenue_temp, on=['hour', 'zone'], how='outer')

In [ ]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

In [ ]:
df_join.show()

+-------------------+----+------------------+--------------------+-------------+---------------------+
|               hour|zone|      green_amount|green_number_records|yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+-------------+---------------------+
|2020-01-01 00:00:00|   3|              null|                null|           25|                    1|
|2020-01-01 00:00:00|   4|              null|                null|           39|                   57|
|2020-01-01 00:00:00|   7| 769.7299999999996|                  45|           11|                   38|
|2020-01-01 00:00:00|  12|              null|                null|         null|                    6|
|2020-01-01 00:00:00|  37|            175.67|                   6|         null|                    7|
|2020-01-01 00:00:00|  40|168.97999999999996|                   8|         null|                    5|
|2020-01-01 00:00:00|  45|              null|                null|         null|                   42|
|2020-01-01 00:00:00|  47|              13.3|                   1|         null|                    1|
|2020-01-01 00:00:00|  51|              17.8|                   2|           31|                    1|
|2020-01-01 00:00:00|  62|             15.95|                   1|         null|                    1|
|2020-01-01 00:00:00|  68|              null|                null|          265|                  396|
|2020-01-01 00:00:00|  73|              null|                null|         null|                    1|
|2020-01-01 00:00:00|  74|317.09000000000015|                  24|           28|                   47|
|2020-01-01 00:00:00|  77| 75.99000000000001|                   2|           36|                    3|
|2020-01-01 00:00:00|  80|364.32000000000005|                  13|           69|                   20|
|2020-01-01 00:00:00|  83|              94.1|                   7|         null|                    1|
|2020-01-01 00:00:00|  88|              null|                null|         null|                   36|
|2020-01-01 00:00:00|  89|              11.3|                   1|           37|                    2|
|2020-01-01 00:00:00|  94| 64.24000000000001|                   3|         null|                    1|
|2020-01-01 00:00:00|  95|202.20000000000002|                  15|         null|                    1|
+-------------------+----+------------------+--------------------+-------------+---------------------+
only showing top 20 rows

In [13]:
df_join = spark.read.parquet('data/report/revenue/total')

In [14]:
df_join.show()

+-------------------+----+------------------+--------------------+-------------+---------------------+
|               hour|zone|      green_amount|green_number_records|yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+-------------+---------------------+
|2020-01-01 00:00:00|  14|              null|                null|         null|                    1|
|2020-01-01 00:00:00|  15|              null|                null|         null|                    1|
|2020-01-01 00:00:00|  17|195.03000000000003|                   9|          104|                    8|
|2020-01-01 00:00:00|  25| 531.0000000000002|                  26|         null|                   16|
|2020-01-01 00:00:00|  32| 68.94999999999999|                   2|           18|                    1|
|2020-01-01 00:00:00|  43|            107.52|                   6|          103|                  390|
|2020-01-01 00:00:00|  49|266.76000000000005|                  14|         null|                   10|
|2020-01-01 00:00:00|  59|              50.9|                   3|         null|                 null|
|2020-01-01 00:00:00|  69|              11.8|                   1|         null|                    4|
|2020-01-01 00:00:00|  71|              23.8|                   1|         null|                 null|
|2020-01-01 00:00:00|  72|             67.53|                   2|         null|                 null|
|2020-01-01 00:00:00|  75|278.14000000000004|                  26|           40|                   69|
|2020-01-01 00:00:00|  78|             34.46|                   2|         null|                 null|
|2020-01-01 00:00:00|  82| 305.1200000000001|                  28|         null|                    1|
|2020-01-01 00:00:00|  85|             64.76|                   4|         null|                    3|
|2020-01-01 00:00:00|  87|              null|                null|           56|                  112|
|2020-01-01 00:00:00|  93|              null|                null|         null|                    3|
|2020-01-01 00:00:00| 107|              null|                null|          109|                  380|
|2020-01-01 00:00:00| 113|              null|                null|           87|                  220|
|2020-01-01 00:00:00| 116|            328.76|                  18|           75|                   34|
+-------------------+----+------------------+--------------------+-------------+---------------------+
only showing top 20 rows

In [15]:
df_zones = spark.read.parquet('zones/')

In [18]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [22]:
df_result.drop('LocationID', 'zone').write.parquet('tmp/revenue_zones')